body {
    background-color: black;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "disp disp disp disp"
        "canc plmn perc dele"
        "seve eigh nine divd"
        "four five sixx mult"
        "onee twoo thre minu"
        "zerr dott equa plus";

    border: 1px solid orangered;
    border-radius: 15px;

    width: 200px;
    height: 300px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    grid-area: disp;

    border-bottom: 1px solid grey;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.number {
    font-weight: normal;
}

.key_C {
    grid-area: canc;
    border-bottom: 1px solid grey;
}

.key_plus_minus {
    grid-area: plmn;
    border-bottom: 1px solid grey;
}

.key_percent {
    grid-area: perc;
    border-bottom: 1px solid grey;
}

.key_del {
    grid-area: dele;
    border-bottom: 1px solid grey;
}

.key_1 {
    grid-area: onee;
    border-bottom: 1px solid grey;
}

.key_2 {
    grid-area: twoo;
    border-bottom: 1px solid grey;
}

.key_3 {
    grid-area: thre;
    border-bottom: 1px solid grey;
}

.key_4 {
    grid-area: four;
    border-bottom: 1px solid grey;
}

.key_5 {
    grid-area: five;
    border-bottom: 1px solid grey;
}

.key_6 {
    grid-area: sixx;
    border-bottom: 1px solid grey;
}

.key_7 {
    grid-area: seve;
    border-bottom: 1px solid grey;
}

.key_8 {
    grid-area: eigh;
    border-bottom: 1px solid grey;
}

.key_9 {
    grid-area: nine;
    border-bottom: 1px solid grey;
}

.key_0 {
    grid-area: zerr;
}

.key_dot {
    grid-area: dott;
}

.key_divise {
    grid-area: divd;
    border-bottom: 1px solid grey;
}

.key_multiply {
    grid-area: mult;
    border-bottom: 1px solid grey;
}

.key_minus {
    grid-area: minu;
    border-bottom: 1px solid grey;
}

.key_plus {
    grid-area: plus;
}

.key_equal {
    grid-area: equa;
    background-color: orangered;
    color: black;
}
